text_color = #fff
background_color = #000


.cover
  background-position: center;
  background-size: cover;

.cover .bespoke-slide > *
  background: rgba(background_color, 0.8)
  padding: 15px

.feature img
  display: inline-block
  max-height: 80%
  max-width: 75%
  width: auto
  -moz-object-fit: contain
  object-fit: contain

ul.columns
  columns: 3
  -moz-columns: 3
  font-size: 15px

